*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Epilogue", sans-serif;
    font-size:18px;
    background:hsl(0, 0%, 98%);
}
/* Header */
.snap_header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 15px;
}
.snap_logo{
    margin:10px 40px 0 0;
    display:inline-block;
}
.snap_logo img{
    display:block;
}
.nav{
    font-size:0.9em;
    padding:20px;
    display:none;
    font-weight:500;
}
.nav.active_nav{
    display:flex;
    flex-direction: column;
    gap:30px;
    position:absolute;
    width:65%;
    max-width:300px;
    z-index:2;
    right:-250px;
    top:0;
    bottom:0;
    background:hsl(0, 0%, 98%);
}
.nav.active_nav.slide-in {
    animation: slideIn 0.3s forwards; /* Apply slide-in animation */
}

.nav.active_nav.slide-out {
    animation: slideOut 0.3s forwards; /* Apply slide-out animation */
}
.btn_menu, .btn_close_menu{
    border:none;
    background:transparent;
}
.btn_close_menu{
    align-self:flex-end;
}
.nav .nav-container{
    display:flex;
    flex-direction: column;
    gap:25px;
}
.nav .nav-container .nav-item{
    list-style: none;
}
.nav .nav-container .nav-link{
    color:hsl(0, 0%, 41%);
    text-decoration: none;
}
/* login/register buttons */
.nav .login_register_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}
.nav .login_register_container > a{
    color:hsl(0, 0%, 41%);
    text-decoration: none;
}
.nav .login_register_container .register{
    border:1.5px solid hsl(0, 0%, 41%);
    border-radius:15px;
    text-align: center;
    padding:0.7rem 0;
    width:100%;
}


/* Overlay */
.overlay{
    display:none;
}
.overlay.show_overlay{
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:1;
    background:hsla(0, 0%, 8%, 0.5);
}
.dropdown:nth-child(1) .nav-link img{
    margin-left:5px;
}
.dropdown .nav-link img{
    margin-bottom:2px;
}

.dropdown{
    position:relative;
}

.dropdown .dropdown-menu{
    display:none;
    padding:20px 0 0 20px ;
}
.dropdown .dropdown-menu li {
    margin-bottom:15px;
    list-style: none;
}
.dropdown .dropdown-menu li:last-of-type{
    margin:0;
}
.dropdown .dropdown-menu li .dropdown-item {
    display:flex;
    align-items: center;
    text-decoration: none;
    font-size:0.9em;
    color:hsl(0, 0%, 41%);
}
.dropdown .dropdown-menu li .dropdown-item img{
    margin-bottom:4px;
}
.dropdown .dropdown-menu li:nth-of-type(even) .dropdown-item img{
    margin-right:17px;
}
.dropdown .dropdown-menu li:nth-of-type(odd) .dropdown-item img{
    margin-right:20px;
}
/* .dropdown .dropdown-menu.show_dropdown{
    display:block;
} */
.dropdown .dropdown-menu.show_dropdown{
    display:block;
    /* position:absolute; */
}

/* Main */
main{
    margin-top:10px;
    display:flex;
    flex-direction: column-reverse;
    gap:40px;
}
.content{
    text-align: center;
}
.content .details{
    margin-bottom:60px;
}
.content .details h1{
    font-size:2em;
    margin-bottom:15px;
}
.content .details p{
    line-height:1.5em;
    text-wrap: balance;
    font-size:0.9em;
    font-weight:500;
    color:hsl(0, 0%, 41%);
    margin-bottom:30px;
}
.content .details .learn_more{
    padding:0.8rem 1.3rem;
    text-decoration: none;
    font-size:0.9em;
    font-weight:500;
    border-radius:15px;
    color:hsl(0, 0%, 98%);
    background:hsl(0, 0%, 8%);
    border:2px solid hsl(0, 0%, 8%);
}
.content .details .learn_more:active{
    background:hsl(0, 0%, 98%);
    color:hsl(0, 0%, 8%);
}
.content .partner_logos{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.content .partner_logos img{
    height:auto;;
    width:65px;
}
.content .partner_logos img:nth-of-type(2){
    width:45px;
}
/* IMG */
.snap_hero_img{
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/image-hero-mobile.png);
}
/* .snap_hero_img img{
    width:100%;
    height:auto;
    display:block;
} */


/* Media Queries */

@media (min-width:1024px) {
    .snap_header{
        padding:10px 25px;
        justify-content: flex-start;
    }
    .snap_header .snap_logo{
        margin-top:5px;
    }

    .dropdown .dropdown-menu.show_dropdown{
        display:block;
        background:hsl(0, 0%, 98%);
        padding:20px;
        border-radius:10px;
        top:30px;
        right:0;
        box-shadow: 0 2px 10px hsl(0, 0%, 41%);
        position:absolute;
    }
    .dropdown.company .dropdown-menu.show_dropdown{
        left:0;
        width:140%;
        /* top:0; */
    }
    .nav{
        display:flex;
        align-items: center;
        flex-grow: 2;
        justify-content: space-between;
    }
    .nav .nav-container{
        flex-direction: row;
        gap:40px;
    }
    
    .btn_menu, .btn_close_menu{
        display:none;
    }
    .nav .login_register_container{
        gap:40px;
        flex-direction: row;
    }
    
    .nav .login_register_container .register{
        padding:0.7rem 1rem;
    }
    
    /* main */
    main{
        padding:0 120px 0 150px;
        flex-direction: row;
    }
    .content{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top:100px;
        text-align: unset;
    }

    .content .details h1{
        font-size:3.5em;
        margin-bottom:40px;
    }
    .content .details p{
        margin-bottom:50px;
    }
    .content .partner_logos{
        justify-content: space-between;
        padding-right:80px;
    }
    .content .partner_logos img{
        height:auto;;
        width:75px;
    }
    .content .partner_logos img:nth-of-type(2){
        width:55px;
    }
    .content .details .learn_more{
        font-size:1.1em;
        padding:1rem 1.5rem;
    }
    .snap_hero_img{
        background-position: center;
        background-image: url(../images/image-hero-desktop.png);
        width:90%;
        height:600px;
    }
    

   
}
@media (min-width:1440px){
    main{
        padding:0 120px 0 150px;
    }
    .content{
        padding-top:100px;
        justify-content: space-between;
        width:100%;
    }
    .content .details h1{
        padding-right:120px;
        
        font-size:4.2em;
    }
    .content .details p{
        text-wrap: wrap;
        padding-right:195px;
        font-size:1em;
    }
    .snap_hero_img{
        background-position: right;
        width:80%;
        height:600px;
    }
    .content .partner_logos{
        margin:0;
        padding-right:140px;
    }
    .content .partner_logos img{
        height:auto;;
        width:85px;
    }
    .content .partner_logos img:nth-of-type(2){
        width:65px;
    }
}
/* Animations */
@keyframes slideIn {
    from {
        right: -250px; 
    }
    to {
        right: 0; 
    }
}

@keyframes slideOut {
    from {
        right: 0; 
    }
    to {
        right: -250px; 
    }
}